{% extends 'base.html.twig' %}

{% block body %}

    <h1> {{ article.title }}</h1>

    <p>
        Par {{ article.author }},
        <em>{{  article.publicationDate|date('d/m/Y à H\\hi') }}</em>
        <strong>Dans {{  article.category }}</strong>

    </p>


    {% if article.image is not null %}
        <div class="text-center">
            <img src="{{ asset('images/' ~ article.image) }}" alt="" height="200px" class="center-block">
        </div>
        <br>
    {% endif %}

    <p>{{ article.content|nl2br }}</p>

    <h2>Commentaires</h2>
    {# formulaire commentaire #}

    {%  if app.user is null %}
        <div class="alert alert-info">
            Vous devez être connecté pour publier un commentaire.
        </div>
    {%  else %}
        {{ form_start(form) }}
        {{ form_row(form.content) }}
        <div class="form-btn-group text-right">
            <button type="submit" class="btn btn-primary">
                Enregistrer
            </button>

        </div>

        {{ form_end(form) }}
    {% endif %}
     {# liste commentaires #}
    {% for comment in article.comments %}
        <h5>
            {{ comment.user }}
            <small>
                {{ comment.publicationDate|date('d/m/Y H:i') }}
            </small>
        </h5>
        <div class="card bg-light mb-3">
            {{ comment.content|nl2br }}

        </div>

    {%  else %}
        <p>Aucun commentaire pour cet article.</p>
    {% endfor %}
{% endblock %}
